<html>
	<head>
		<link rel="stylesheet" href="#springUrl('/resources/css/icc.css')" />
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<title>#springMessage("gamelogs.jsp.title")</title>
		<script type="text/javascript" src="#springUrl('/resources/js/jquery-1.8.3.js')">x</script> 
	</head>

	<body class="spring">

<div id="ribbon">
	<form action="dummy" id="ribbonform" method="get">
			<button class="ribbonbutton" subaction="gamelogs">
				<img src="#springUrl('/resources/images/chessboard_icon.gif')"/>
			</button>
			<button class="ribbonbutton" subaction="enginerules?deleted=true&">
				<img style="width: 80px; height: 80px;" src="#springUrl('/resources/images/engine_icon.png')"/>
			</button>
			<button class="ribbonbutton" subaction="adjrules?deleted=true&">
				<img style="width: 80px; height: 80px;" src="#springUrl('/resources/images/adjudication_icon.gif')"/>
			</button>
			<button class="ribbonbutton" subaction="exempt">
				<img style="width: 80px; height: 80px;" src="#springUrl('/resources/images/exempt.jpg')"/>
			</button>
	</form>
</div>
<script>
	$(document).ready(function(){
		$(".ribbonbutton").click(
			function() {
				window.location = "#springUrl('/')"+$(this).attr("subaction");
				return false;
			}
		);
	});
</script>
